
.home__display {
    padding: 20px;
    /*background-color: #fff;*/
    box-sizing: border-box;
    /*color: #000;*/
    margin-bottom: 20px;
    text-align: center;
}

.home__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.home__pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.display_area {
    margin: 0 auto;
    border: 1px solid #000;
}

.panel-footer {
    text-align: left;
}

.searchparam {
    color: #EC9DED;
}

.title {
    font-family: 'Trebuchet MS';
}

.menu {
    font-family: 'Oxygen', sans-serif;
}

@import 'https://fonts.googleapis.com/css?family=|Oxygen';

body{
	background: linear-gradient(to right, #834d9b, #d04ed6);
	color: white;
}

a{
	background-color: white;
	border: none;
	color: black;
	padding: 12px 20px;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	cursor: pointer;
	margin-left: 5px;
	border-radius: 2px;
	opacity: 0.5;

}
a:hover{
	background-color: transparent;
	color: white;
	border: 1px solid #ecf0f1;
	color: #ecf0f1;
	opacity: 1;
}
