
.home__display {
    padding: 20px;
    /*background-color: #fff;*/
    box-sizing: border-box;
    /*color: #000;*/
    margin-bottom: 20px;
    text-align: center;
    animation: slide-up 0.3s ease;
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.home__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.home__pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.btn, .btn-default {
    outline: 0 !important;
}

.form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.display_area {
    margin: 0 auto;
    border: 1px solid #000;
}

.panel-footer {
    text-align: left;
}

.searchparam {
    color: #EC9DED;
}

.title {
    font-family: 'Zilla Slab', serif;
}

.menu {
    font-family: 'Open Sans', sans-serif;
}